gcloud-sqlproxy:
  serviceAccount:
    annotations:
      iam.gke.io/gcp-service-account: "command-bot@parity-stg.iam.gserviceaccount.com"
  cloudsql:
    instances:
      - instance: "command-bot-pgsql"
        project: "parity-stg"
        region: "europe-west3"
        port: 5432

common:
  env:
    GITLAB_PUSH_NAMESPACE: parity/mirrors
    GITLAB_JOB_IMAGE: paritytech/ci-linux:production
    GITLAB_DOMAIN: testlab.parity.io
    PIPELINE_SCRIPTS_REPOSITORY: https://github.com/paritytech/pipeline-scripts
    DATA_PATH: /data
    IS_DEPLOYMENT: true
    TMPDIR: /data/tmp
    TASK_DB_VERSION: v3
    PING_PORT: 3001
    LOG_FORMAT: json
  secrets:
    ALLOWED_ORGANIZATIONS: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#ALLOWED_ORGANIZATIONS
    APP_ID: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#APP_ID
    CLIENT_ID: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#CLIENT_ID
    CLIENT_SECRET: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#CLIENT_SECRET
    GITLAB_ACCESS_TOKEN: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#GITLAB_ACCESS_TOKEN
    GITLAB_ACCESS_TOKEN_USERNAME: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#GITLAB_ACCESS_TOKEN_USERNAME
    MASTER_TOKEN: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#MASTER_TOKEN
    MATRIX_ACCESS_TOKEN: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#MATRIX_ACCESS_TOKEN
    MATRIX_HOMESERVER: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#MATRIX_HOMESERVER
    PRIVATE_KEY_BASE64: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#PRIVATE_KEY_BASE64
    WEBHOOK_SECRET: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg#WEBHOOK_SECRET
    DATABASE_URL: ref+vault://kv/cicd/gitlab/parity/mirrors/command-bot/parity-stg##DATABASE_URL
  ingress:
    annotations:
      external-dns.alpha.kubernetes.io/target: traefik-external.parity-stg.parity.io.
    rules:
      - host: command-bot.parity-stg.parity.io
        http:
          paths:
            - path: /
              pathType: ImplementationSpecific
              backend:
                service:
                  name: command-bot
                  port:
                    name: http
    tls:
      - hosts:
          - command-bot.parity-stg.parity.io
        secretName: command-bot.parity-stg.parity.io
