stages:
  - test
  - build
  - staging
  - production

variables:
  IMAGE_NAME:                      "docker.io/paritytech/command-bot"
  CI_IMAGE:                        "docker.io/node:16.13.2-bullseye-slim"
  BUILDAH_IMAGE:                   "quay.io/buildah/stable:v1.27"
  KUBE_NAMESPACE:                  try-runtime
  DOCKER_TAG:                      ${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA}
  DATA_PATH:                       /data
  PING_PORT:                       3001
  TASK_DB_VERSION:                 v3
  DOCKERFILE:                      Dockerfile
  VAULT_ADDR:                      "https://vault.parity-mgmt-vault.parity.io"
  VAULT_AUTH_PATH:                 "gitlab-parity-io-jwt"
  VAULT_AUTH_ROLE:                 "cicd_gitlab_parity_${CI_PROJECT_NAME}"
  HELM_SECRETS_DRIVER:             vals

default:
  image: $CI_IMAGE
  tags:
    -  kubernetes-parity-build
  interruptible:                   true
  retry:
    max: 2
    when:
      - runner_system_failure
      - unknown_failure
      - api_failure

.test-refs:                        &test-refs
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /^[0-9]+$/                 # PRs

.publish-refs:                     &publish-refs
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"

.common-refs:                      &common-refs
  rules:
    - !reference [.test-refs, rules]
    - !reference [.publish-refs, rules]

.production-refs:                  &production-refs
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"
      when: manual

test-lint:
  <<:                              *common-refs
  stage:                           test
  script:
    - yarn --immutable
    - yarn lint

test-unit:
  <<:                              *common-refs
  stage:                           test
  script:
    - yarn --immutable
    - yarn test:unit

test-integration:
  <<:                              *common-refs
  stage:                           test
  script:
    - yarn --immutable
    - yarn test:integration

# test that docker image can be built
build-docker:
  stage:                           build
  <<:                              *test-refs
  image:                           $BUILDAH_IMAGE
  script:
    - buildah bud
      --format=docker
      --tag "$IMAGE_NAME:$DOCKER_TAG"
      --file "$DOCKERFILE" .

#### App deployment

.deploy-k8s:                       &deploy-k8s
  image:                           paritytech/kubetools:3.5.3
  script:
    # Change the app version during build so that Kubernetes is able to update
    # the deployment even if the images' tags did not change
    # $CI_PIPELINE_ID is guaranteed to be unique
    - export KUBERNETES_VERSION_TAG="$CI_PIPELINE_ID"
    # Those values are embedded in the annotations and that's how the change is
    # noticed
    - |-
      sed -i "s/appVersion:.*/appVersion: $KUBERNETES_VERSION_TAG/" helm/Chart.yaml
    # https://docs.gitlab.com/ee/ci/examples/authenticating-with-hashicorp-vault/#example
    - export VAULT_TOKEN="$(vault write -field=token auth/$VAULT_AUTH_PATH/login role=$VAULT_AUTH_ROLE jwt=$CI_JOB_JWT)"
    - helm dependency update helm/
    - helm secrets --version
    - helm secrets upgrade
      --install
      --atomic
      --timeout 300s
      --namespace ${CI_PROJECT_NAME}
      --values helm/values.yaml
      --values helm/values-$ENVIRONMENT.yaml
      --set common.image.repository="$IMAGE_NAME"
      --set common.image.tag="$DOCKER_TAG"
      --set common.persistence.mountPath="$DATA_PATH"
      --set env.DATA_PATH="$DATA_PATH"
      --set env.IS_DEPLOYMENT="true"
      --set env.TMPDIR="$DATA_PATH/tmp"
      --set env.TASK_DB_VERSION="$TASK_DB_VERSION"
      --set env.PING_PORT="$PING_PORT"
      --set env.LOG_FORMAT=json
      --set env.MIN_LOG_LEVEL=debug
      $CI_PROJECT_NAME helm/

build-push-docker-app:
  stage:                           build
  <<:                              *publish-refs
  image:                           $BUILDAH_IMAGE
  script:
    - echo "$Docker_Hub_Pass_Parity" |
      buildah login --username "$Docker_Hub_User_Parity" --password-stdin docker.io
    - buildah bud
      --format=docker
      --tag "$IMAGE_NAME:$DOCKER_TAG"
      --file $DOCKERFILE .
    - buildah push --format=v2s2 "$IMAGE_NAME:$DOCKER_TAG"
  after_script:
    - buildah logout --all

deploy-stg:
  stage:                           staging
  <<:                              *deploy-k8s
  <<:                              *publish-refs
  variables:
    ENVIRONMENT:                   parity-stg
  tags:
    - cmd-bot-stg

deploy-production:
  stage:                           production
  <<:                              *deploy-k8s
  <<:                              *production-refs
  variables:
    ENVIRONMENT:                   parity-prod
  tags:
    - cmd-bot-prod
