node_modules/
.env.cjs
*.pem
build/
git/
data*
.idea
.vscode

# FIXME: tmporary irnogre, but test folder should be linted, fix issues
src/test/.test-ca.pem
src/test/.test-ca.key

coverage

src/schema/schema.cmd.d.ts

generated/

*-error.log
