div.sticky-nav
  label(for="repos") Select repo:
    select.mt-sm(id="repos")
      option(value="") All Repos
      each repo in repos
        option(value=repo) #{repo}
  | Commands Navigation:
  each cfg, commandName in commandConfigs
    ul.nav
      li.nav-command
        a(href="\#link-" + commandName) #{ commandName }
        if cfg.command.presets
          ul.nav-preset
            each preset, presetId in cfg.command.presets
              li(class="preset-link " + (typeof(preset.repos) !== 'undefined' ? preset.repos : []).join(' ') + (presetId === 'default' ? ' hidden' : ''))
                a(href="\#link-" + commandName + "-" + presetId) #{ presetId }
  | Env Variables
  ul
    li
      a(href="\#link-companion") Patch Companion
    li
      a(href="\#link-new-command") How to test new command (test dev branch)
    li
      a(href="\#link-override-ci-image") Override Command's CI Image
    li
      a(href="\#link-rust") Rust Log, etc
