style.
    .command {
        margin-bottom: 100px;
    }

    .preset {
        margin-bottom: 80px;
        padding-left: 30px;
    }

    .preset-args {
        padding: 15px;
    }

    .preset h5 {
        margin-left: -30px;
    }

    .hidden {
        display: none !important;
    }

    .sticky-nav {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 10px;
        max-height: 100vh;
        max-height: 100 dvh; /* iOS dynamic viewport height */
        overflow-y: auto;
    }

    .mb-sm {
        margin-bottom: 5px;
    }

    .mb-md {
        margin-bottom: 15px;
    }

    .mt-sm {
        margin-top: 5px;
    }

    .ml-md {
        margin-top: 15px;
    }

    .mb-lg {
        margin-bottom: 30px;
    }

    .center {
        text-align: center;
    }

    .lowercase {
        text-transform: lowercase;
    }

    .muted {
        color: #6c757d;
    }
